{% extends "base.html" %}


{% block title %}Facility{% endblock %}

{% block page_content %}
    <div class="container-fluid">
    {%  for facility in facilities %}
            <div class="col-md-4 col-xs-6 ">
                <a href="{{ url_for('.view_info', id=facility.id)}}">
                    <img src={{ facility.url }} class="img-responsive" alt="Responsive image" />
                </a>
                <a href="{{ url_for('.view_info',id=facility.id)}}">
                    <h4>{{ facility.name }}</h4>
                </a>
                <a href="{{ url_for('.view_info',id=facility.id)}}">
                    <h5>View more</h5>
                </a>
            </div>
    {% endfor %}
</div>
{% endblock %}
